<center>
<h2> Học có giám sát </h2>
</center>

**Nội dung bài học:**
- TÌm hiểu các tập dữ liệu mẫu: xác định biến độc lập (X) và biến phụ thuộc (Y)
- Xác định lớp thuật toán học có giám sát ứng với tập dữ liệu

### Bài toán 1: Tập dữ liệu Titanic

In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [11]:
df_titanic = pd.read_csv('Data/Data_Titanic.csv')
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1309 non-null   int64
 1   Pclass    1309 non-null   int64
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Embarked  1307 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 71.7+ KB

## 1 - Xác định biến đầu vào (X) và biến đầu ra (Y):
- Biến đầu vào (X - biến độc lập):
    * Pclass: Hạng vé
    * Sex: Giới tính
    * Age: Tuổi
    * SibSp: Số lượng anh chị em đi cùng
    * Parch: Số lượng con cái đi cùng
    * Embarked: Cảng lên tàu
- Biến đầu ra (Y - biến phụ thuộc):
    * Survired: Hành khách được cứu hoặc không được cứu

-> Tập dữ liệu Titanic là tập dữ liệu có gán nhãn

In [12]:
df_titanic['Survived'].value_counts()

Survived
0    815
1    494
Name: count, dtype: int64

**Nhận xét**
---
* Biến phụ thuộc (Y) là rời rạc và hữu hạn
* (Y) chỉ nhận tối đa 2 giá trị khác nhau (Chỉ 0 hoặc 1)
* Bài toán là phân loại nhị phân

## Bài toán số 2: Tập dữ liệu Iris
* Xây dựng mô hình học máy có khả năng dự đoán 1 bông hoa lan thuộc loại hoa lan nào, dựa vào thông tin chiều dài chiều rộng của cánh hoa và đài hoa

In [13]:
df_iris = pd.read_csv('Data/Data_Iris.csv')
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
df_iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width          species
27            5.2          3.5           1.5          0.2      Iris-setosa
25            5.0          3.0           1.6          0.2      Iris-setosa
98            5.1          2.5           3.0          1.1  Iris-versicolor
86            6.7          3.1           4.7          1.5  Iris-versicolor
115           6.4          3.2           5.3          2.3   Iris-virginica

Xác định biến đầu vào (X) và biến đầu ra (Y)
---
- Biến đầu vào (biến độc lập) gồm 4 thuộc tính:
    * sepal_length: Độ dài cánh hoa
    * sepal_width: Chiều rộng cánh hoa
    * pepal_length: Chiều dài đài hoa
    * pedal_width: Chiều rộng đài hoa
- Biến đầu ra (biến phụ thuộc): species

In [15]:
df_iris['species'].value_counts()

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

- Nhận xét:
    * Biến phụ tuộc (Y) là hữu hạn và rời rạc
    * Biến có 3 giá trị khác nhau: Iris-setosa, Iris-versicolor, Iris-virginica 
    * Bài toán thuộc loại phân loại

## Bài toán 3: Tập dữ liệu kim cương
- Xây dựng mô hình học máy, có khả năng dự đoán giá bán 1 viên kim cương khi biết trọng lượng của nó

In [16]:
df_diamond = pd.read_csv('Data/Data_Diamond.csv')
df_diamond.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Weight(Carat)  50 non-null     float64
 1   Price(USD)     50 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 932.0 bytes

In [17]:
df_diamond.sample(5)

    Weight(Carat)  Price(USD)
8            1.70       11605
27           0.74        2761
28           0.91        3620
25           1.05        7879
22           3.01       16538

**Xác định biến đầu vào biến đầu ra:**
- Biến đầu vào (X): Weight
- Biến đầu ra (Y): Price

--> Tập dữ liệu là tập dữ liệu có gán nhãn

In [18]:
df_diamond['Price(USD)'].describe()

count       50.000000
mean      7550.780000
std       5038.766934
min        345.000000
25%       3560.750000
50%       6796.000000
75%      11452.500000
max      18531.000000
Name: Price(USD), dtype: float64

**Nhận xét:**
- Biến phụ thuộc (Y) là vô hạn các giá trị
- Bài toán thuộc phân loại hồi quy

**Bài tập về nhà**
Sinh viên thực hiện tương tự cho 2 tập dữ liệu còn lại: comment và housing